
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #303683;
    color: #fff;
}

.wrapper{
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

.roles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 2rem;
}

.logo-vive{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.logo{
    display: none;
}

@media screen and (min-width: 1200px) {
    .logo-vive{
        justify-content: end;
        position: absolute;
        width: 100%;
        top: 5rem;
        right: 5rem;
    }
    .logo{
        display: inline-block;
        width: 15%;
        height: 15%;
        max-width: 100px;
    }
}